# Ignore Gradle project-specific cache directory
.gradle
.settings
.gitattributes
.project
gradlew
gradlew.bat
gradle/wrapper

# Ignore Gradle build output directory
build
settings.gradle

lib/bin/
lib/.settings/
lib/src/main/resources/
lib/src/test/resources/

